body{
  background: SlateGrey;
  font-family: verdana;
  color: #FFFFFF;
}

h1 {
  font-family: 'Georgia';
}

#chatSection, #scoreSection, #winSection {
  width: 45%;
  float: left;
}

canvas {
  border: 5px solid #000000;
  margin: 0 auto;
}

#controls {
  margin-bottom: 5px;
  text-align: left;
}

label {
  font-size: 16px;
  margin-right: 0.75em;
}

#chatSection {
  margin-top: 27px;
  text-align: justify;
}

h1 {
  text-align: center;
}
#scoreSection{
    text-align: left;
}
#winSection{
    text-align: right;
}

p {
  font-size: 20px;
}